* {
  margin: 0;
  padding: 0;
  font-family: "Stolzl";
}
.swiper-button-prev {
  width: 45px !important;
  height: 45px !important;
  margin: 0 -20px !important;
  color: #842eb3 !important;
}
.swiper-button-next {
  width: 45px !important;
  height: 45px !important;
  margin: 0 -20px !important;
  color: #842eb3 !important;
}
